<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.open.baidu.finance"
    android:versionCode="1"
    android:versionName="1.0" >
<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_TOP_ACTIVITY_INFO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="com.open.baidu.finance.application.CommonApplication"
        >
        <!-- 微信分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:exported="true"
             android:description="@string/weixin_wxapi_desp" 
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sdksample"/>
            </intent-filter>
        </activity>
        <!-- 微信分享 -->
        <!-- qq分享 -->
         <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:description="@string/title_activity_auth" 
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent101421230" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:description="@string/title_activity_assist"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
         <!-- qq分享 -->
        <activity
            android:name=".activity.SplashActivity"
            android:description="@string/app_name"
            >
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
         <!-- dot viewpager  -->
        <activity
            android:name=".activity.CommonDotViewPagerFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_dot_viewpager_desp" >
        </activity>
        <!-- dot viewpager fragment  -->
        <activity
            android:name=".activity.CommonDotPagerFragmentFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_dot_viewpager_fragment_desp" >
        </activity>
         <!-- 动态主tab页面 -->
        <activity
            android:name=".activity.DynamicMainTabActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:description="@string/app_main_tab_desp"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <!-- MyStock  -->
        <activity
            android:name=".activity.mystock.MyStockPullToRefreshPinnedSectionListViewActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_mystock_desp" >
        </activity>
        <!-- MyStock viewpager    -->
        <activity
            android:name=".activity.mystock.MyStockViewPagerFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_mystock_viewpager_fragment_desp" >
        </activity>
        <!--Stock EditDragSort    -->
        <activity
            android:name=".activity.mystock.StockEditDragSortListViewActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_stock_edit_dragsort_desp" >
        </activity>
        <!--Stock EditDragSort   fragment -->
        <activity
            android:name=".activity.mystock.StockEditDragSortListViewFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_stock_edit_dragsort_fragment_desp" >
        </activity>
        <!--提醒设置 -->
        <activity
            android:name=".activity.mystock.StockAlarmSettingFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_stock_alarm_fragment_desp" >
        </activity>
        <!--新建分组 -->
        <activity
            android:name=".activity.mystock.NewGroupNameFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_new_group_fragment_desp" >
        </activity>
         <!--编辑分组 -->
        <activity
            android:name=".activity.mystock.GroupEditDragSortListViewFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_group_edit_dragsort_fragment_desp" >
        </activity>
        <!--搜索 -->
        <activity
            android:name=".activity.mystock.SearchStockFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_search_stock_fragment_desp" >
        </activity>
        <!--图片浏览 -->
        <activity
            android:name=".activity.ImageScanActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_image_scan_desp" >
        </activity>
        <!--看图图片  -->
        <activity
            android:name=".activity.ShowImageActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_show_image_desp" >
        </activity>
        <!--Stock图片浏览 -->
        <activity
            android:name=".activity.mystock.ImageScanStockGridFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_image_scan_stock_desp" >
        </activity>
        <!--导入图片 -->
        <activity
            android:name=".activity.mystock.RecognitionStockImageFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_recongition_image_stock_desp" >
        </activity>
        <!--行业解析 -->
        <activity
            android:name=".activity.news.TagNewsPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_news_tagnews_f_desp" >
        </activity>
         <!--news Indicator 列表 -->
        <activity
            android:name=".activity.news.TagNewsIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_news_tab_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"  >
        </activity>
        <!--话题详情 -->
        <activity
            android:name=".activity.news.HotTiebaTopicPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_hot_tieba_topic_f_desp" >
        </activity>
        <!--订阅管理 -->
        <activity
            android:name=".activity.news.SubscribeEditDragSortFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_subscribe_edit_dragsort_f_desp" >
        </activity>
        <!--财经资讯 -->
        <activity
            android:name=".activity.article.NewsContainerPullScrollFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_article_pullscroll_f_desp" >
        </activity>
         <!--m foot Indicator 列表 -->
        <activity
            android:name=".activity.news.MFootTagNewsIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_m_foot_tagnews_tab_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"  >
        </activity>
        <!--m财经资讯 -->
        <activity
            android:name=".activity.article.MNewsContainerPullScrollFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/Theme.PageIndicatorDefaults" 
            android:description="@string/app_m_article_pullscroll_f_desp" >
        </activity>
        <!--m scrollablelayout财经资讯 -->
        <activity
            android:name=".activity.article.MNewsContainerPullScrollableLayoutFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:theme="@style/Theme.PageIndicatorDefaults" 
            android:description="@string/app_m_article_scrollablelayout_f_desp" >
        </activity>
        <!--评论 -->
        <activity
            android:name=".activity.article.MNewsCommentPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_m_comment_pulllist_f_desp" >
        </activity>
        <!--精英投资顾问 -->
        <activity
            android:name=".activity.news.AdviserPersonPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_adviser_person_pulllist_f_desp" >
        </activity>
        <!-- 投资顾问观点 -->
        <activity
            android:name=".activity.news.AdviserViewPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_adviser_view_pulllist_f_desp" >
        </activity>
         <!-- 问答 -->
        <activity
            android:name=".activity.news.QuestionPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_question_pulllist_f_desp" >
        </activity>
         <!--观点问答 Indicator 列表 -->
        <activity
            android:name=".activity.news.ExpertQuestionIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_question_tab_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"  >
        </activity>
         <!--最新热点 -->
        <activity
            android:name=".activity.hot.HotConceptPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_hot_concept_f_desp"
             >
        </activity>
         <!--PinnedSection最新热点 -->
        <activity
            android:name=".activity.hot.HotConceptPinnedSectionListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_pinnedsection_hot_concept_f_desp"
             >
        </activity>
        <!--hot help -->
        <activity
            android:name=".activity.hot.HotHelpFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_hot_help_f_desp"
             >
        </activity>
        <!--PinnedSection机构调研 -->
        <activity
            android:name=".activity.hot.SurveyPinnedSectionListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_pinnedsection_survey_f_desp"
             >
        </activity>
        <!--PinnedSection舆情个股 -->
        <activity
            android:name=".activity.hot.SentimentPinnedSectionListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_pinnedsection_sentiment_f_desp"
             >
        </activity>
        <!--舆情个股 Indicator 列表 -->
        <activity
            android:name=".activity.hot.SentimentIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_sentiment_tab_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"  >
        </activity>
         <!--智能选股 -->
        <activity
            android:name=".activity.hot.MsgStockPinnedSectionListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_pinnedsection_msg_stock_f_desp"
             >
        </activity>
        <!--主题选股 -->
        <activity
            android:name=".activity.hot.ThemeStockPinnedSectionListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_pinnedsection_theme_stock_f_desp"
             >
        </activity>
        <!--智能选股 Indicator 列表 -->
        <activity
            android:name=".activity.hot.AutoStockIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_auto_stock_tab_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"  >
        </activity>
        <!--主题股票详细-->
        <activity
            android:name=".activity.hot.ThemeStockDetailListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_theme_stock_detail_f_desp"
             >
        </activity>
        <!--主题股票评论-->
        <activity
            android:name=".activity.hot.ThemeStockCommentPullListFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_theme_stock_comment_f_desp"
             >
        </activity>
        
        <!--行情-沪深指数-->
        <activity
            android:name=".activity.market.IndexShSZFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_market_index_sh_sz_f_desp"
             >
        </activity>
        <!--行情-行业跌涨幅-->
        <activity
            android:name=".activity.market.PlatePullToRefreshPinnedSectionListViewFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_market_plate_list_f_desp"
             >
        </activity>
        <!--行情-行业个股-->
        <activity
            android:name=".activity.market.PlateStockPullToRefreshPinnedSectionListViewFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_market_plate_stock_list_f_desp"
             >
        </activity>
         <!--行情-沪深-->
        <activity
            android:name=".activity.market.MarketShSzPullToRefreshPinnedHeaderExpandableListViewFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_market_sh_sz_all_list_f_desp"
             >
        </activity>
        <!--行情 Indicator 列表 -->
        <activity
            android:name=".activity.market.MarketIndicatorFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_market_tab_f_desp"
            android:theme="@style/Theme.PageIndicatorDefaults"  >
        </activity>
         <!--行情-基金-->
        <activity
            android:name=".activity.market.FundSyncHorizontalScrollViewFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_market_fund_list_f_desp"
             >
        </activity>
        <!--行情-基金组-->
        <activity
            android:name=".activity.market.FundTypePinnedHeaderExpandableListViewFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_market_fund_type_list_f_desp"
             >
        </activity>
         <!--me-->
        <activity
            android:name=".activity.me.MeScrollFragmentActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_me_f_desp"
             >
        </activity>
        <!-- 所有类列表 -->
        <activity
            android:name="com.open.android.activity.common.CommonALLActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:description="@string/app_all_desp" >
               <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>  
        </activity>
    </application>

</manifest>
